<!--app-testes-materialize></app-testes-materialize-->



<nav>
  <div class="nav-wrapper blue darken-4">
    <a routerLink="" class="brand-logo center">
      Rotas
    </a>
    <ul class="left hide-on-med-and-down">
      <li routerLinkActive="active">
        <a routerLink="/login">
          Login
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/cursos">
          Cursos
        </a>
      </li>


      <li routerLinkActive="active">
        <a [routerLink]="['curso', idCurso.value]">
            Cursos com id
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <p>Informe o id</p>
    <input #idCurso>
  <router-outlet></router-outlet>
</div>
