<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group" [ngClass]="aplicaCssFeedback('nome')">
          <div class="col-sm-12">
            <label for="nome" class="control-label">Nome</label>
          </div>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" placeholder="Nome aqui" formControlName="nome" name="nome">
            <app-campo-control  [campo]="campoTouched('nome')" [mostrarControle]="testaCampoValido('nome')" msgErro="Informe um nome Válido">
            </app-campo-control>
          </div>
          
        </div>
        <div class="form-group" [ngClass]="aplicaCssFeedback('email')">
          <div class="col-sm-12">
            <label for="email" class="control-label">Password</label>
          </div>
          <div class="col-sm-12">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email aqui" name="email">
            <app-campo-control  [campo]="campoTouched('email')" [mostrarControle]="testaCampoValido('email')" msgErro="Informe um nome Válido">
            </app-campo-control>
          </div>
        </div>
        <div class="form-group" >
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success">Enviar</button>
            <a role="button" class="btn btn-danger" (click)="resetFrom()">Resetar</a>
          </div>
        </div>
      </form>
    </div>
    <div class="col sm4">
      <app-form-debug [form]=form></app-form-debug>
    </div>
  </div>
</div>
