<br>
<div class="container well">
    <h1>Broadcast de eventos</h1>
    <span>
      Um evento no 7 dispara um evento no 8
    </span>
    <div class="row">
      <div class="col-xs-6">
          <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading"><h4>Serviço 7</h4></div>
              <div class="panel-body">
                <br>
                <input class="form-control" type="text" #infoToAdd7>
                <button (click)="addInfo7(infoToAdd7.value)" class="btn">adicionar</button>
                <br><br><br>
                <ul class="list-group">
                  <li *ngFor="let info7 of infos7" class="list-group-item">
                    {{ info7 }}
                  </li>
                </ul>
              </div>
            </div>
        </div>
        <div class="col-xs-6">
          <app-servico-oito></app-servico-oito>
        </div>
      </div>
    </div>
