<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Forms 3</a>
    </div>

    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/cadastrar">
          Cadastrar
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/refatorado">
          Refatorado
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/listar">
          Listar
        </a>
      </li>

    </ul>

  </div>
</nav>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
