<h3>Freio</h3>
<p> {{ texto }} </p>
<p> {{ texto2 }} </p>
<div>
  <input id="primeiro" type="number" [value]="primeiroNumero">
  <input id="segundo" type="number" [value]="segundoNumero">
  <ul>
    <li>
      <button (click)="soma()">soma</button>
    </li>
    <li>
      <button (click)="diminui()">subtrai</button>
    </li>
    <li>
      <button (click)="multiplica()">multiplica</button>
    </li>
    <li>
      <button (click)="divide()">divide</button>
    </li>
  </ul>
  <input type="text" [value]="resultado">
</div>
<div>
  <h3>
    Mais um teste de envio de evento
  </h3>
  <div>
    <button (click)="eTeste()">
      Evento teste01
    </button>
  </div>
</div> 