<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav ">
        <li [class.active]="aba == 'home'"><a (click)="aba='home'" href="#">Home</a></li>
        <li [class.active]="aba == 'mapa'"><a (click)="aba='mapa'" href="#">mapa</a></li>
        <li [class.active]="aba == 'lista'"><a (click)="aba='lista'" href="#">lista</a></li>
        <li [class.active]="aba == 'outros'"><a (click)="aba='outros'" href="#">outros</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-ts-12">
        <div [ngSwitch]="aba">
          <h1 *ngSwitchDefault>HOME</h1>
          <h1 *ngSwitchCase="'mapa'">MAPA</h1>
          <h1 *ngSwitchCase="'lista'">LISTA</h1>
          <h1 *ngSwitchCase="'outros'">OUTROS</h1>
        </div>
      </div>
    </div>
  </div>






















