<div class="well">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav ">
        <li [class.active]="aba == 'home'">
          <a (click)="aba='home'" href="#">Home</a>
        </li>
        <li [class.active]="aba == 'mapa'">
          <a (click)="aba='mapa'" href="#">mapa</a>
        </li>
        <li [class.active]="aba == 'lista'">
          <a (click)="aba='lista'" href="#">lista</a>
        </li>
        <li [class.active]="aba == 'outros'">
          <a (click)="aba='outros'" href="#">outros</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-ts-12">
        <div [ngSwitch]="aba">
          <h1 *ngSwitchDefault>HOME</h1>
          <h1 *ngSwitchCase="'mapa'">MAPA</h1>
          <h1 *ngSwitchCase="'lista'">LISTA</h1>
          <h1 *ngSwitchCase="'outros'">OUTROS</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Cursos</h1>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let curso of cursos let i = index">{{ i + 1 }} - {{curso}}</li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Diretiva ngClass</h1>
      <i class="glyphicon" [class.glyphicon-eye-close]="!meuFavorito" [class.glyphicon-eye-open]="meuFavorito" (click)="onClick()"></i>
      <br>
      <i class="glyphicon" [ngClass]="{
        'glyphicon-folder-close': !meuFavorito,
        'glyphicon-folder-open': meuFavorito
       }" (click)="onClick()"></i>
    </div>
  </div>
</div>

<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Diretiva ngStyle</h1>
      <button [style.background]="ativo ? 'blue' : 'gray'" [style.color]="ativo ? 'white' : 'black'" [style.fontWeight]="ativo ? 'bold' : 'normal'"
        (click)="mudar()">
        Botão 01
      </button>
      <br>
      <br>
      <button [ngStyle]="{
          'background': ativo2 ? 'blue' : 'gray',
          'color': ativo2 ? 'white' : 'black',
          'fontWeight': ativo2 ? 'bold' : 'normal'
        }" (click)="mudar2()">
        Botão 2
      </button>
    </div>
  </div>
</div>

<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Operador Elvis - ?</h1>
      <ul class="list-group">
        <li class="list-group-item">
          <b>Descricao:</b> {{ tarefa.desc }} </li>
        <li class="list-group-item">
          <b>Responavel</b>
          {{ tarefa.responsavel != null ? tarefa.responsavel : '' }}
        </li>
        <li class="list-group-item">
          <b>Responavel</b>
          {{ tarefa?.responsavel }}
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <ng-content select=".titulo"></ng-content>
          </h3>
        </div>
        <div class="panel-body">
          <ng-content select=".conteudo"></ng-content>
          <!-- vem do modulo PAI -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Diretivas</h1>
      <p DiretivaTeste>Texto customizado</p>
      <p appTesteDiretiva2>teste 2</p>
      <p appDiretivaTeste5>Diretiva teste 5</p>
      <p appDiretivaTeste6>Mais um teste</p>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 appDiretivaTeste7 class="panel-title">
            diretiva com elemet ref e render
          </h3>
        </div>
        <div appDiretivaTeste7 appDiretivaTeste6 class="panel-body">
          Conteudo do panel
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 appDiretivaTeste8 class="panel-title">
            diretiva com hostbiding
          </h3>
        </div>
        <div appDiretivaTeste8 class="panel-body">
          Conteudo do panel
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 appDiretivaTeste9 [variavel01]="'whitesmoke'" [variavel02]="'orange'" class="panel-title">
            diretiva com @input
          </h3>
        </div>
        <div appDiretivaTeste9 [variavel01]="'whitesmoke'" [variavel02]="'orange'" class="panel-body">
          Conteudo do panel
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container well">
  <div class="row">
    <div class="col-ts-12">
      <h1>Diretivas estruturais</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            diretiva estrutural 01
          </h3>
        </div>
        <div class="panel-body">
          <h4>ng if e else</h4>
          <br>
          <button (click)="alteraEstadoCursos2()" class="btn">clique para exibir / ocultar cursos</button>
          <br>
          <br>
          <ul *ngIf="exibeCursos2" class="list-group">
            <li *ngFor='let curso of cursos2' class="list-group-item"> {{ curso }} </li>
          </ul>
          <ul *ngElse="!exibeCursos2" class="list-group">
            <li class="list-group-item">
              Você escondeu os cursos
            </li>
          </ul>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            diretiva estrutural 02
          </h3>
        </div>
        <div class="panel-body">
          <h4>Estrutural2</h4>
          <button (click)="btAlteraCont()">
            OK
          </button>
          <div *ngIf="variavel12">
            conteudo
          </div>
          <div *appDiretivaEstrutural2="variavel12">
                voce escondeu o conteudo
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
