<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">

        <div class="form-group" [ngClass]="aplicaCssFeedback(nome)">
          <div class="col-sm-12">
            <label for="nome" class="control-label">Nome</label>
          </div>
          <div class="col-sm-12">
            <input type="text" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Nome aqui" name="nome" [ngModel]="user.nome"
              required #nome="ngModel">
            <app-campo-control [campo]=nome [mostrarControle]="testaCampoValido(nome)" msgErro="Informe um nome Válido">
            </app-campo-control>
          </div>
        </div>

        <div class="form-group" [ngClass]="aplicaCssFeedback(email)">
          <div class="col-sm-12">
            <label for="email" class="control-label">Password</label>
          </div>
          <div class="col-sm-12">
            <input type="email" class="form-control" aria-describedby="emailHelp" id="email" placeholder="Email aqui" name="email" [ngModel]="user.email"
              email required #email="ngModel">
            <app-campo-control [campo]=email [mostrarControle]="testaCampoValido(email)" msgErro="Informe um email Válido">
            </app-campo-control>
          </div>
        </div>

        <div ngModelGroup="enderecoInfos">
          <div class="form-group">

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(cep)">
              <label for="cep" class="control-label">Cep</label>
              <input type="text" class="form-control" aria-describedby="cepHelp" id="cep" placeholder="Cep aqui" name="Cep" [ngModel]="user.cep" required #cep="ngModel" (blur)="buscaCep($event.target.value, f)">
              <app-campo-control [campo]=cep [mostrarControle]="testaCampoValido(cep)" msgErro="Informe um cep Válido">
              </app-campo-control>
            </div>

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(numero)">
              <label for="numero" class="control-label">Numero</label>
              <input type="number" class="form-control" aria-describedby="numeroHelp" id="numero" placeholder="numero aqui" name="numero"
                [ngModel]="user.numero" required #numero="ngModel">
              <app-campo-control [campo]=numero [mostrarControle]="testaCampoValido(numero)" msgErro="Informe um numero Válido">
              </app-campo-control>
            </div>

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(complemento)">
              <label for="complemento" class="control-label">Complemento</label>
              <input type="number" class="form-control" aria-describedby="complementoHelp" id="complemento" placeholder="complemento aqui"
                name="complemento" [ngModel]="user.complemento" required #complemento="ngModel">
              <app-campo-control [campo]=complemento [mostrarControle]="testaCampoValido(complemento)" msgErro="Informe um complemento Válido">
              </app-campo-control>
            </div>

          </div>
          <!-- formgroup -->

          <div class="form-group" [ngClass]="aplicaCssFeedback(rua)">
            <div class="col-sm-12">
              <label for="rua" class="control-label">rua</label>
            </div>
            <div class="col-sm-12">
              <input type="text" class="form-control" id="rua" aria-describedby="ruaHelp" placeholder="rua aqui" name="rua" [ngModel]="user.rua"ngModel
                required #rua="ngModel">
              <app-campo-control [campo]=rua [mostrarControle]="testaCampoValido(rua)" msgErro="Informe um rua Válido">
              </app-campo-control>
            </div>
          </div>

          <div class="form-group">

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(bairro)">
              <label for="bairro" class="control-label">bairro</label>
              <input type="text" class="form-control" aria-describedby="bairroHelp" id="bairro" placeholder="bairro aqui" name="bairro"
                [ngModel]="user.bairro" required #bairro="ngModel">
              <app-campo-control [campo]=bairro [mostrarControle]="testaCampoValido(bairro)" msgErro="Informe um bairro Válido">
              </app-campo-control>
            </div>

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(cidade)">
              <label for="cidade" class="control-label">cidade</label>
              <input type="text" class="form-control" aria-describedby="cidadeHelp" id="cidade" placeholder="cidade aqui" name="cidade"
                [ngModel]="user.cidade" required #cidade="ngModel">
                {{ user.cidade }}
              <app-campo-control [campo]=cidade [mostrarControle]="testaCampoValido(cidade)" msgErro="Informe um cidade Válido">
              </app-campo-control>
            </div>

            <div class="col-sm-4" [ngClass]="aplicaCssFeedback(estado)">
              <label for="estado" class="control-label">estado</label>
              <input type="text" class="form-control" aria-describedby="estadoHelp" id="estado" placeholder="estado aqui" name="estado"
                [ngModel]="user.estado" required #estado="ngModel">
              <app-campo-control [campo]=estado [mostrarControle]="testaCampoValido(estado)" msgErro="Informe um estado Válido">
              </app-campo-control>
            </div>


          </div>
          <!-- form group -->
        </div>



        <div class="form-group">
          <div class="col-sm-12">
            <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4">
      <app-form-debug [form]=f></app-form-debug>
    </div>
  </div>
</div>





