<app-comp1>
  <div class="titulo">Lorem Impsum</div>
  <div class="conteudo">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce iaculis nunc eu ultricies posuere. Aliquam molestie fringilla
      nisl sollicitudin dapibus. Sed ultrices iaculis eros, ut semper ligula semper ac. Quisque eu neque nisi. Nullam orci
      arcu, iaculis eget gravida in, tempus sit amet elit. Aenean gravida, lacus ac porttitor dictum, ante sem viverra lacus,
      et malesuada est quam quis turpis. Vestibulum laoreet facilisis eleifend. In at porttitor lacus. Suspendisse pretium
      augue ligula, sed blandit nunc accumsan quis. Morbi auctor varius tellus et molestie. In neque orci, dignissim nec
      nulla malesuada, dictum rhoncus nunc.
    </p>
    <p>
      Curabitur ultrices dignissim sodales. Maecenas eget est quis nunc dapibus accumsan. Cras tincidunt lorem eu neque consectetur
      varius. Mauris gravida est posuere, feugiat diam vitae, elementum lectus. Donec quis diam urna. Donec vitae nisl ac
      velit vestibulum egestas luctus gravida lectus. Fusce volutpat tincidunt bibendum. Praesent volutpat elementum libero
      vel semper. Aenean dui nibh, ornare eu dapibus vel, gravida vel nulla. Orci varius natoque penatibus et magnis dis
      parturient montes, nascetur ridiculus mus. Fusce gravida turpis vel tellus consectetur fringilla. Maecenas ultrices
      bibendum massa, at viverra urna sodales in. Donec volutpat dui vel mattis ornare.
    </p>
    <p>
      Cras elementum, lectus quis consequat varius, mi nulla tempor massa, et efficitur dolor arcu vitae magna. Integer venenatis,
      tortor vel volutpat porta, enim neque efficitur arcu, imperdiet suscipit eros tellus a justo. Pellentesque bibendum
      leo mi, id placerat nisi convallis vel. Vestibulum ultrices vel velit ut mollis. Maecenas rutrum ipsum eget condimentum
      consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam sodales
      lobortis ex quis rhoncus. Nam non eleifend augue. In sit amet turpis tincidunt augue finibus rutrum quis at diam. Ut
      ac gravida elit, at congue libero. Quisque sit amet lectus tempus enim pulvinar pretium non aliquet turpis.
    </p>
    <p>
      Sed vitae mollis lectus. Donec tristique lacinia egestas. Vivamus egestas mauris et dolor porta tempus. Vestibulum ligula
      turpis, pellentesque vitae lorem vel, laoreet convallis lectus. Aenean a magna eu velit maximus bibendum. In eleifend
      in libero vitae laoreet. Duis eget tellus interdum velit gravida eleifend. Morbi imperdiet sapien lorem. Suspendisse
      elementum massa quis purus molestie dictum.
    </p>
    <p>
      Nunc nec tempor est. Nunc consequat dictum orci quis fringilla. Vivamus non tellus quis massa mattis gravida. Quisque aliquam,
      ante ac accumsan mollis, sapien nisi malesuada sapien, a porttitor ante dolor at mauris. Donec vitae aliquet metus.
      Curabitur at finibus arcu. Vivamus nec lectus imperdiet, dignissim massa at, sollicitudin velit. In euismod neque a
      arcu auctor, a convallis orci pharetra. In commodo nibh non vestibulum ullamcorper. Aenean vitae varius justo. Sed
      vel urna ut mi lobortis vehicula rutrum vitae velit. Integer fermentum metus a metus pretium malesuada.
    </p>
  </div>
</app-comp1>
